<html>
  <head>
    <title>TODO: App</title>
    <style>
       .hidden{
          display: none;
       }
       ul{
          list-style: none;
          padding: 0px;
          margin: 0px;
          width: 200px;
       }
       li {
          clear: both;
       }
       .delete-todo-btn{
          color: red;
          -webkit-appearance: none;
          border: none;
          outline: none;
          float: right;
          cursor: pointer;
          font-size: 20px;
       }
    </style>
  </head>
  <body>
    <div id="main" class="container">
      <button>Add ToDo</button>
      <div id="todo-crud">
        <form id="todo-form" action="/todos/create-todo" method="POST">
          <div>
             <label for="description">Create a TODO item</label>
             <input type="text" id="description" name="description" />
          </div>
          <div><input type="submit" id="submit-todo" value="Create" /></div>
        </form>
      </div>
      <div id="error" class="hidden">Something went wrong!</div>
      <div>
        <ul id="todo-items">
          {% for d in data %}
          <li><input class="check-completed" data-id="{{d.id}}" type="checkbox" 
            {% if d.completed %} checked {% endif %}/> {{ d.description }}
            <button class="delete-todo-btn" data-id="{{d.id}}">
               &cross;
            </button>
         </li>
          {% endfor %}
        </ul>
      </div>
      <script>
         const checkboxes = document.querySelectorAll(".check-completed")
         for (let i = 0; i < checkboxes.length; i++){
            let checkbox = checkboxes[i];
            checkbox.onchange = function(e){
               console.log("event", e);
               const newCompletedState = e.target.checked;
               const todoId = e.target.dataset.id;
               fetch('/todos/' + todoId + '/set-completed', {
                  method: 'POST',
                  body: JSON.stringify({
                     completed: newCompletedState
                  }),
                  headers: {
                     'Content-Type': 'application/json'
                  }
               })
               .then(function() {
                  document.getElementById('error').className = 'hidden';
               })
               .catch(function() { 
                  document.getElementById('error').className = '';
               })
            }
         }

         const deleteBtns = document.querySelectorAll(".delete-todo-btn")
         for (let i = 0; i < deleteBtns.length; i++){
            let delBtn = deleteBtns[i];
            delBtn.onclick = function(e){
               console.log("event", e);
               const todoId = e.target.dataset.id;
               fetch('/todos/delete-todo/' + todoId, {
                  method: 'DELETE',
               })
               .then(function() {
                  document.getElementById('error').className = 'hidden';
                  let item = e.target.parentElement;
                  item.remove();
               })
               .catch(function() { 
                  document.getElementById('error').className = '';
               })
            }
         }

         const newTodoInput = document.getElementById('description');
         document.getElementById("todo-form").onsubmit = function(e){
            e.preventDefault();

            fetch('/todos/create-todo', {
               method: 'POST',
               body: JSON.stringify({
                  'description': newTodoInput.value
               }),
               headers: {
                  'Content-Type': 'application/json'}
            })
            .then(response => response.json())
            .then(jsonResponse => {
               console.log(jsonResponse);
               const newTodoItem = document.createElement("li");
               const checkbox = document.createElement("input");
               checkbox.type = 'checkbox';
               checkbox.className = 'check-completed';
               checkbox.setAttribute('data-id', jsonResponse.id);
               newTodoItem.appendChild(checkbox);

               const text = document.createTextNode(' ' + jsonResponse.description);
               newTodoItem.appendChild(text);

               const delButton = document.createElement("button");
               delButton.className = 'delete-todo-btn';
               delButton.setAttribute('data-id', jsonResponse.id);
               delButton.innerHTML = "&cross;";
               newTodoItem.appendChild(delButton);

               document.getElementById('todo-items').appendChild(newTodoItem);
               document.getElementById('error').className = 'hidden';
            })
            .catch( () =>{
               document.getElementById('error').className = '';
            });
         }
      </script>
    </div>
  </body>
</html>
