<html>

<head>
   <title>TODO: App</title>
   <style>
      .hidden {
         display: none;
      }

      .lists-wrapper, .todos-wrapper {
         display: inline-block;
         vertical-align: top;
         list-style: none;
         padding-right: 10ch;
         margin: 0px;
         width: 320px;
      }
      ul{
         list-style-type:none;
      }
      li {
         clear: both;
      }
      .todo-form-input, .todolist-form-input {
         display: flex;
         flex-direction: row;
      }

      .delete-todo-btn, .delete-todolist-btn{
         color: red;
         -webkit-appearance: none;
         border: none;
         outline: none;
         float: right;
         cursor: pointer;
         font-size: 20px;
      }
   </style>
</head>

<body>
   <h2>MY Todo Sample App</h2>
   <div class="lists-wrapper" class="container">
      <h4>TODO Lists</h4>
      <form id="todolist-form" action="/todos/create-todolist" method="POST">
         <div class='todolist-form-input'>
            <input type="text" id="listname" name="listName" placeholder="A new List"/>
            <input type="submit" id="submit-list" value="Create List" />
         </div>
      </form>
      <ul id="todo-lists">
         {% for list in lists %}
         <li>
            <input class="todolist-check-completed" data-id="{{list.id}}" 
               type="checkbox" {% if list.completed %} checked {%
                  endif %} /> 
               <a href="/lists/{{ list.id }}">{{ list.name }}</a>
               <button class="delete-todolist-btn" data-id="{{list.id}}">
                  &cross;
               </button>
         </li>
         {% endfor %}
      </ul>
   </div>
   <div class="todos-wrapper">
      <h4>Todo List: {{active_list.name}}</h4>
      <form id="todo-form" action="/todos/create-todo" method="POST">
         <div class='todo-form-input'>
            <input type="text" id="description" name="description" placeholder="A new TODO"/>
            <input type="submit" id="submit-todo" value="Create TODO" />
         </div>
         <input type="hidden" id="activeList" value="{{active_list.id}}" />
      </form>
      <div id="error" class="hidden">Something went wrong!</div>
      <div>
         <ul id="todo-items">
            {% for todo in todos %}
            <li>
               <input class="check-completed" data-id="{{todo.id}}" 
               type="checkbox" {% if todo.completed %} checked {%
                  endif %} /> {{ todo.description }}
               <button class="delete-todo-btn" data-id="{{todo.id}}">
                  &cross;
               </button>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
   <script>
      // Check for completed todo lists
      const listCheckboxes = document.querySelectorAll(".todolist-check-completed");
      for (let idx = 0; idx < listCheckboxes.length; idx++)
      {
         let listCheckBox = listCheckboxes[idx];
         listCheckBox.onchange = function(e){
            const listCheckState = e.target.checked;
            const todoList = e.target.dataset.id;
            fetch('/todos/list/' + todoList + '/set-completed', {
               method: 'POST',
               body: JSON.stringify({
                  completed: listCheckState
               }),
               headers: {
                  'Content-Type': 'application/json'
               }
            })
            .then(function () {
               document.getElementById('error').className = 'hidden';
            })
            .catch(function () {
               document.getElementById('error').className = '';
            })
         }
      }
      
      const checkboxes = document.querySelectorAll(".check-completed");
      for (let i = 0; i < checkboxes.length; i++) {
         let checkbox = checkboxes[i];
         checkbox.onchange = function (e) {
            console.log("event", e);
            const newCompletedState = e.target.checked;
            const todoId = e.target.dataset.id;
            fetch('/todos/' + todoId + '/set-completed', {
               method: 'POST',
               body: JSON.stringify({
                  completed: newCompletedState
               }),
               headers: {
                  'Content-Type': 'application/json'
               }
            })
            .then(function () {
               document.getElementById('error').className = 'hidden';
            })
            .catch(function () {
               document.getElementById('error').className = '';
            })
         }
      }
      // Delete List      
      const deleteListBtns = document.querySelectorAll(".delete-todolist-btn")
      for (let i = 0; i < deleteListBtns.length; i++) {
         let delListBtn = deleteListBtns[i];
         delListBtn.onclick = function (e) {
            console.log("event", e);
            const listId = e.target.dataset.id;
            fetch('/todos/delete-list/' + listId, {
               method: 'DELETE',
            })
            .then(function () {
               document.getElementById('error').className = 'hidden';
               let item = e.target.parentElement;
               item.remove();
            })
            .catch(function () {
               document.getElementById('error').className = '';
            })
         }
      }

      const deleteBtns = document.querySelectorAll(".delete-todo-btn")
      for (let i = 0; i < deleteBtns.length; i++) {
         let delBtn = deleteBtns[i];
         delBtn.onclick = function (e) {
            console.log("event", e);
            const todoId = e.target.dataset.id;
            fetch('/todos/delete-todo/' + todoId, {
               method: 'DELETE',
            })
               .then(function () {
                  document.getElementById('error').className = 'hidden';
                  let item = e.target.parentElement;
                  item.remove();
               })
               .catch(function () {
                  document.getElementById('error').className = '';
               })
         }
      }

      // Listener for the TODO List form submit
      const newListInput = document.getElementById('listname');
      document.getElementById('todolist-form').onsubmit = function(e) {
         e.preventDefault();
         
         fetch('/todos/create-todolist', {
            method: 'POST',
            body: JSON.stringify({
               'listName': newListInput.value,
            }),
            headers: {
               'Content-Type': 'application/json'
            }
         })
         .then(response => response.json())
         .then(jsonResponse => {
            // Create new <li> for the new List
            const newTodoList = document.createElement("li");
            const checkbox = document.createElement("input");
            checkbox.type = 'checkbox';
            checkbox.className = 'todolist-check-completed';
            checkbox.setAttribute('data-id', jsonResponse.listId);
            newTodoList.appendChild(checkbox);

            const text = document.createTextNode(' ' + jsonResponse.listName);
            const listAnchor = document.createElement("a");
            listAnchor.setAttribute('href', "/lists/" + jsonResponse.listId);
            listAnchor.appendChild(text);
            newTodoList.appendChild(listAnchor);

            newTodoList.appendChild(text);

            const delButton = document.createElement("button");
            delButton.className = 'delete-todolist-btn';
            delButton.setAttribute('data-id', jsonResponse.listId);
            delButton.innerHTML = "&cross;";
            newTodoList.appendChild(delButton);

            document.getElementById('todo-lists').appendChild(newTodoList);
            document.getElementById('error').className = 'hidden';
         })
         .catch(() => {
            document.getElementById('error').className = '';
         });
      };

      // Listener for the TODO Item form submit
      const newTodoInput = document.getElementById('description');
      const activeList = document.getElementById("activeList");
      document.getElementById("todo-form").onsubmit = function (e) {
         e.preventDefault();

         fetch('/todos/create-todo', {
            method: 'POST',
            body: JSON.stringify({
               'description': newTodoInput.value,
               'listId': activeList.value
            }),
            headers: {
               'Content-Type': 'application/json'
            }
         })
         .then(response => response.json())
         .then(jsonResponse => {
            console.log(jsonResponse);
            const newTodoItem = document.createElement("li");
            const checkbox = document.createElement("input");
            checkbox.type = 'checkbox';
            checkbox.className = 'check-completed';
            checkbox.setAttribute('data-id', jsonResponse.id);
            newTodoItem.appendChild(checkbox);

            const text = document.createTextNode(' ' + jsonResponse.description);
            newTodoItem.appendChild(text);

            const delButton = document.createElement("button");
            delButton.className = 'delete-todo-btn';
            delButton.setAttribute('data-id', jsonResponse.id);
            delButton.innerHTML = "&cross;";
            newTodoItem.appendChild(delButton);

            document.getElementById('todo-items').appendChild(newTodoItem);
            document.getElementById('error').className = 'hidden';
         })
         .catch(() => {
            document.getElementById('error').className = '';
         });
      }
   </script>
   </div>
</body>

</html>